.cDarkGreyBG {
    background-color: #212a32;
    padding: 4rem 0;
    padding-bottom: 15rem;
}
.fullpage-promosimple-bg{
    background-image: url(../img/unlock-your-growthfcc3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 10rem 0 10rem 0;
}
.fullpage-promosimple-bg h2 {
    font: normal 10rem/10rem 'Titillium Web',sans-serif;
    font-size: 4rem;
    letter-spacing: inherit;
}
.btn-secondary-green-on-white:hover {
    background: #4bcd3e;
    border: 2px solid #4bcd3e;
    border-radius: 67rem;
    color: #012834;
}
a:hover {
    color: #00a4b6;
    text-decoration: none;
}
